
.main {
  min-height: 90vh;
  margin:30px 0px ;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
